body {
  font-family: "Open Sans", sans-serif;
}

/*---------------------------------------------------------------------*/
/* Header y navbar*/
header {
  width: 100%;
  color: #fff;
  z-index: 100;
  position: fixed;
}

/*-imagen de fondo-*/
.bkg-img {
  position: relative;
}

.bkg-img #img-fondo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  image-rendering: pixelated;
  z-index: -1;
}


/*-gradiente-*/
.bkg-grad {
  font-size: 5px;
  padding: 2px auto;
  background: linear-gradient(to bottom,
      rgb(0, 0, 0) 0%,
      rgba(0, 0, 0, 0) 100%);
}

/*------------------------------------------------------------------*/
/* Contenido general del main */
main {
  margin: auto;
  padding: 20px;
}

.cover-title {
  padding: 10vw 2vw;
}

h1 {
  text-align: center;
  font-family: "Cinzel", serif;
  font-size: 7vw;
  padding: 50px 0 20px;
  opacity: 0.5;
}

main .cover-title h2 {
  font-size: 3vw;
}

h2 {
  font-family: "Cinzel", serif;
  font-size: 2.5vw;
  text-align: center;
  padding-bottom: 2vw;
  filter: drop-shadow(0px 0px 7px rgba(200, 194, 252, 0.3)) brightness(90%);
}

.text h2 {
  font-size: 5vw;
}

h3{
  font-size: 3vw;
  line-height: 4vw;
}

.text p {
  margin-bottom: 20px;
  padding-left: 2vw;
  line-height: 1.5;
  text-shadow: 2px 0px 10px rgba(0, 0, 0, 0.7);
  font-size: 2vw;
}


/*----Animaciones----*/
.info,
.more-info {
  font-family: "Open Sans", sans-serif;
  opacity: 0;
  animation: aparecer-desaparecer 2s infinite;
}

.window-content .info {
  padding: 1vw;
}

.window-content .more-info {
  font-size: 80%;
  padding: 2vw;
}

@keyframes aparecer-desaparecer {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

/*--------------------------*/
/* Modo claro/oscuro */

/* Estilos para el modo claro */
body {
  background: linear-gradient(rgb(158, 158, 158), rgb(218, 218, 218), rgb(218, 218, 218), rgb(218, 218, 218), rgb(117, 117, 117));
  background-color: #ffffff;
  color: #000000;
}

/* Estilos para el modo oscuro */
body.dark-mode {
  background: linear-gradient(rgb(0, 0, 0), rgb(16, 7, 66), rgb(16, 7, 66), rgb(0, 0, 0));
  color: #ffffff;

  h1 {
    color: rgb(255, 255, 255);
    text-shadow: 1px 0px 5px rgba(255, 255, 255, 0.5);
  }
}

/* Responsive */
@media screen and (min-width: 800px) {
  main {
    width: 80%;
  }
}

@media screen and (min-width: 417px) {
  section {
    margin-bottom: 11vh;
  }
}

/*-Celular y tablets-*/
@media screen and (max-width: 356px) {
  #figure {
    /* +3 */
    margin: 15vh 0 10vh 0;
  }

  body figure + .cover-img,
  body figure figcaption + .cover-title {
    /* +3 */
    padding: 7vh 0 2vh 0;
    margin: 5vh 0 0 0;
  }

  header nav .nav-box1 {
    /* +2 */
    padding: 2vh 7vw;
  }

  #character .columna-buff p {
    line-height: 2;
  }
}

@media screen and (max-width: 416px) {
  body figure .cover-img,
  body figure figcaption .cover-title {
    padding: 15vh 0 0vh 0;
  }
}

@media screen and (max-width: 597px) {
  body figure {
    /* +2 */
    margin: 15vh 0 16vh 0;
  }

  /* figure h2 {
    padding: 0 0 5vh 0;
  } */

  .cover-title {
    padding: 3vw 2vw;
    */
  }

  header .nav-box1 {
    /* +1 */
    padding: 2vh 7vw;
  }
}