body {
  font-family: "Open Sans", sans-serif;
}

/*-----------------------*/
/* Header y navbar*/
header {
  width: 100%;
  color: #fff;
  z-index: 100;
  position: fixed;
}

/*-imagen de fondo-*/
.bkg-img {
  position: relative;
}

.bkg-img #img-fondo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  image-rendering: pixelated;
  z-index: -1;
}
/*.bkg-img {
  background-image: url(publics/img/forest-night1.jpg);
  image-rendering: pixelated;
  background-position: bottom;
  filter: brightness(120%);
}*/

nav {
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.nav-box1 {
  padding: 30px;
}

nav a {
  color: #fff;
  text-decoration: none;
}

nav a:hover {
  cursor: pointer;
  color: #9c9c9c;
  transition: 200ms;
  text-shadow: 5px 5px 25px rgba(255, 255, 255, 1);
}

nav li {
  display: inline-block;
  margin-right: 50px;
  margin-bottom: 10px;
  margin-top: 10px;
}

#sign {
  width: 60px;
  transition: all 0.5s ease-in-out;
  filter: brightness(70%);
}

#sign:hover {
  transition: 20ms;
  filter: drop-shadow(0px 0px 7px rgba(200, 194, 252, 0.3)) brightness(90%);
  cursor: pointer;
}

#sign:active {
  transform: rotateY(180deg);
  transition: 300ms;
}

/*-gradiente-*/
.bkg-grad {
  font-size: 5px;
  padding: 2px auto;
  background: linear-gradient(
    to bottom,
    rgb(0, 0, 0) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}

/*--------------------------*/
/* Contenido del main */
main {
  margin: auto;
  padding: 20px;
}

section {
  margin: 10vw 0;
}

h1 {
  display: inline-block;
  font-family: "Micro 5", sans-serif;
  font-style: normal;
  width: auto;
  margin-top: 120px;
  font-size: 60px;
  padding: 50px 0 20px;
  text-shadow: 2px 0px 5px rgba(5, 2, 44, 0.9);
}

h2 {
  font-size: 2.5vw;
  text-align: center;
  padding-bottom: 2vw;
}

.text h2{
  font-size:  5vh;
  padding-bottom: 2rem;
}

.text p {
  margin-bottom: 20px;
  line-height: 1.5;
  text-shadow: 2px 0px 10px rgba(0, 0, 0, 0.7);
  font-size: 3vh;
}

section {
  margin-bottom: 40px;
}

#proyectos table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ccc;
  font-size: 2.5vw;
}

#proyectos table a {
  font-weight: bold;
  color: rgba(72, 77, 9, 1);
  text-shadow: 2px 0px 10px rgba(246, 255, 113, 0.3);
}

#proyectos table a:hover,
#proyectos table a:active {
  color: rgb(185, 185, 41);
}

/*Tabla de proyectos*/
#proyectos th,
#proyectos td {
  padding: 3%;
  vertical-align: middle;
  max-width: 30%;
}

.icon {
  max-width: 100%;
  width: auto;
  border: 3px solid rgb(185, 185, 41);
  border-radius: 3px;
}

.icon:hover,
.icon:active {
  box-shadow: 0px 0px 10px rgba(246, 255, 113, 0.5);
}

/*tabla de Personaje*/
#character p{
text-align: center;
padding-bottom: 2vh;
font-size: 2vw;
}

#tarjeta-personaje th {
  font-size: 2vw;
  width: auto;
}

.td-front {
  border-radius: 5px;
  vertical-align: middle;
}

.td-front:hover {
 box-shadow: 0px 0px 10px rgba(117, 117, 117, 0.5);
}

.td-front .character-icons {
  display: flex;
  vertical-align: middle;
  opacity: 1;
}

.td-front .character-icons .columna-buff {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 3vw 2vw 0 0;
  font-size: 1.5vw;
}

.td-front .character-icons .columna-buff p {
  margin-bottom: 4vh;
}

.td-front .character-icons .columna-buff .img-buff {
  width: 4vw;
}

.td-front .skill-icons {
  width: 100%;
  display: flex;
  align-items: end;
  justify-content: space-around;
  text-align: center;
  font-size: 1.5vw;
}

.td-front .poten {
  text-align: center;
  font-size: 1.5vw;
  border: 1px solid rgb(51, 51, 51);
  margin: 1vw;
  padding: 1vw;
  line-height: 1.5;
}

.td-back .conocimientos {
  font-size: 2vw;
  border: 1px solid rgb(51, 51, 51);
  padding: 1vw;
}

#img-char {
  max-width: 30vw;
  object-fit: contain;
}

#img-skll {
  padding-top: 5vw;
  max-width: 6vw;
}

.td-back {
  width: 50%;
  padding: 2vw 0vw 0vw 2vw;
  vertical-align:text-top;
  font-size: 3vw;
  line-height: 1.5;
  text-align: left;
}

.td-back .conocimientos h4 {
  padding: 1vw 0 0.5vw;
  font-size: 2.5vw;
}

.td-back .habilidades h4 {
  padding: 2vw 0 0.5vw;
  font-size: 2.5vw;
}

.td-back .habilidades ul li {
  margin-left: 1vw;
  padding: 1vw 0 0.5vw;
  font-size: 1.5vw;
  list-style-type: circle;
  list-style-position: inside;
}

/*Formulario*/
form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: auto;
}

label,
input,
textarea,
button {
  margin-bottom: 10px;
}

/* Ventanas decorativas estilo 'Windows' */
/*-Exterior ventana-*/
.window {
  border-width: 2px;
  border-color: rgb(51, 51, 51);
  border-style: solid;
}

.window h2{
  padding: 0.5vh 0 0.5vh 0;
  font-size: 2vh;
}

/*-Titulo ventana-*/
.window-title {
  color: white;
  padding-left: 3%;
  padding-right: 1%;
  background-color: rgb(51, 51, 51);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/*-Contenido de ventana-*/
.window-content {
  margin: 15px;
  text-align: center;
}

.window-content table{
  margin: 0 auto;
}

/*--------------------------*/
/* Modo oscuro/claro */

/* Estilos para el modo claro */
body {
  background: linear-gradient(rgb(158, 158, 158), rgb(255, 255, 255), rgb(255, 255, 255), rgb(255, 255, 255), rgb(117, 117, 117));
  background-color: #ffffff;
  color: #000000;
}

.td-front{
  background: radial-gradient(ellipse, rgba(176,174,238,0.2) 0%, rgba(29,30,31,0.2));
}

/* Estilos para el modo oscuro */
body.dark-mode {
  background: linear-gradient(rgb(0, 0, 0), black, black, rgb(5, 4, 32));
  color: #ffffff;
  h1 {
    color: rgb(226, 226, 226);
    text-shadow: 3px 0px 25px rgb(255, 255, 255, 0.3);
  }
}

/* Responsive */
@media screen and (min-width: 800px) {
main{
  width: 80%;
}
}

/*-Celular y tablets-*/
@media screen and (max-width: 356px) {
  body main h1 {
    margin: 200px 0 0 0;
  }

  .nav-box1 {
    padding: 5px 30px 0px;
  }
}

@media screen and (max-width: 597px) {
  body h1 {
    margin: 150px 0 0 0;
  }
}
