body {
  font-family: "Kode Mono", monospace;
}

/*-----------------------*/
/* Header y navbar*/
header {
  width: 100%;
  color: #fff;
  z-index: 100;
  position: fixed;
}

/*-imagen de fondo-*/
.bkg-img{
  background-image: url(publics/img/forest-night1.jpg);
  image-rendering: pixelated;
  background-position: bottom;
  filter: brightness(120%);
}

nav {
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.nav-box1 {
  padding: 30px;
}

nav a {
  color: #fff;
  text-decoration: none;
}

nav a:hover{
  cursor: pointer;
  color: #9c9c9c;
  transition: 200ms;
  text-shadow: 5px 5px 25px rgba(255, 255, 255, 1);
}

nav li {
  display: inline-block;
  margin-right: 50px;
  margin-bottom: 10px;
  margin-top: 10px;
}

#sign {
  width: 60px;
  transition: all .5s ease-in-out;
  filter: brightness(70%);
}

#sign:hover {
  transition: 20ms;
  filter: drop-shadow(0px 0px 7px rgba(200, 194, 252, 0.3)) brightness(90%);
  cursor: pointer;
}

#sign:active {
  transform: rotateY(180deg);
  transition: 300ms;
}

/*-gradiente-*/
.bkg-grad{
  font-size: 5px;
  padding: 2px auto;
  background: linear-gradient(
    to bottom,
    rgb(0, 0, 0) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}

/*--------------------------*/
/* Contenido del main */
main {
  margin: auto;
  width: 80%;
  padding: 20px;
}

.titulo{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

#title-icon{
  margin: 0px 25px 20px;
  width: 120px;
  height: 120px;
  align-self: end;
  border: 3px solid rgb(185, 185, 41);
  border-radius: 5px;
  opacity: 0.9;
}

#title-icon:hover, .title-icon:active{
  box-shadow: 0px 0px 10px rgba(246, 255, 113, 0.5);
}

#title-icon:active{
  transform: rotateY(20deg);
  transition: 200ms;
}

h1 {
  display: inline-block;
  max-width: 300px;
    font-family: "Micro 5", sans-serif;
    font-style: normal;
  width: auto;
  margin-top: 120px;
  font-size: 60px;
  padding: 50px 0 20px;
  text-shadow: 2px 0px 5px rgba(5, 2, 44, 0.9);
}

p {
  margin-bottom: 20px;
  line-height: 1.5;
  text-shadow: 2px 0px 10px rgba(0, 0, 0, 0.7);
}

section {
  margin-bottom: 40px;
}

table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ccc;
  font-size: 2.5vw
}

table a{
  font-weight: bold;
  color: rgba(72, 77, 9, 1);
  text-shadow: 2px 0px 10px rgba(246, 255, 113, 0.3);
}

table a:hover, table a:active{
  color: rgb(185, 185, 41);
}

th,
td {
  
  padding: 3%;
  vertical-align: middle;
  max-width: 30%;
}

.icon{
  max-width: 100%;
  width: auto;
  border: 3px solid rgb(185, 185, 41);
  border-radius: 3px;
}

.icon:hover, .icon:active{
  box-shadow: 0px 0px 10px rgba(246, 255, 113, 0.5);
}

/*Formulario*/
form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: auto;
}

label,
input,
textarea,
button {
  margin-bottom: 10px;
}

/* Ventanas decorativas estilo 'Windows' */
/*-Exterior ventana-*/
.window {
  border-width: 2px;
  border-color: rgb(51, 51, 51);
  border-style: solid;
}

/*-Titulo ventana-*/
.window-title {
  padding-left: 3%;
  padding-right: 1%;
  background-color: rgb(51, 51, 51);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/*-Contenido de ventana-*/
.window-content {
  margin: 15px;
}

/*--------------------------*/
/* Modo oscuro/claro */

/* Estilos para el modo claro */
body {
  background: linear-gradient(rgb(156, 156, 156), white, white, rgb(0, 0, 0));
  background-color: #ffffff;
  color: #000000;
}

/* Estilos para el modo oscuro */
body.dark-mode {
  background: linear-gradient(rgb(0, 0, 0), black, black, rgb(5, 4, 32));
  color: #ffffff;
  h1{
    color: rgb(185, 185, 41);
    text-shadow: 3px 0px 25px rgb(255, 255, 255, 0.3);
  }
}

/* Responsive */
/*-Celular y tablets-*/
@media screen and (max-width: 356px) {
  body main h1 {
    margin: 200px 0 0 0;
  }
  
  .nav-box1{
    padding: 10px 30px 0px;
  }
}

@media screen and (max-width: 597px) {
  body h1 {
    margin: 150px 0 0 0;
  }
}