body {
	background: linear-gradient(to bottom, #bfbfbf, white, #bfbfbf);
	font-family: verdana, times;
}

a{
	color: #303030;
	font-weight: bold;
}

p {
	font-size: 18px;
}

h3 {
	font-weight: bold;
	text-align: center;
}

.linked {
	text-align: center;
}

.img {
	display: block;
	margin: auto;
	width: 180px;
}

.modal {
	display: none;
	width: auto;
}

.container {
	background-color: hsl(0, 0%, 85%);
	opacity: 1;
	border: 2px dotted gray;
	border-radius: 12px;
	flex-basis: 150px;
}