body {
	background: linear-gradient(to bottom, #ada2fc, white, #ada2fc);
	font-family: verdana, times;
}

a{
	color: #303030;
	font-weight: bold;
}

p {
	font-size: 18px;
}

h3 {
	font-weight: bold;
	text-align: center;
}

.linked {
	/*border: solid;*/
	margin-left: 13px;
	display: flex;
	align-items: center;
	text-align: center;
	font-size: 14px;
}

.img {
	display: block;
	margin: auto;
	width: 180px;
}

.modal {
	display: none;
	width: auto;
}

.container {
	display: flex;
	background-color: #ada2fc;
	opacity: 1;
	border: 2px solid #ada2fc;
	border-radius: 12px;
	flex-basis: 150px;
}

.container2 {
	display: flex;
	background-color: none;
	opacity: 1;
	border: 1px dashed #000000;
	border-radius: 12px;
	flex-basis: 150px;
}

.container3 {
	background-color: #ada2fc;
	opacity: 1;
	border: 2px solid #ada2fc;
	border-radius: 12px;
	flex-basis: 150px;
}