<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CAC-Movie</title>
</head>

<body>
    <!-- Encabezado -->
    <header>
        <nav>
            <!-- logo -->
            <div>
                <a href="/">
                    <span>CAC-Movies</span>
                </a>
            </div>
            <!-- Hipervinculos para el menu -->
            <ul>
                <li><a href="#popular">Tendencias</a></li>
                <li><a href="./templates/register.html">Registrate</a></li>
                <li><a href="#"><span>Iniciar Sesión</span></a></li>
            </ul>
        </nav>
    </header>
    <!-- Contenido -->
    <main>

        <section id="form">
            <!-- Entrada para la pelicula -->
            <div>
                <div>
                    <label for="">Titulo</label>
                    <input type="text" class="input-search" name="title" id="title">
                </div>
                <!-- Seleccione el genero de la pelicula -->
                <div>

                </div>
                <button></button>
            </div>
        </section>
        <section id="list">
            <h2></h2>
        </section>

    </main>
    <!-- Pie -->
    <footer>
        <a href="">Términos y condiciones</a>
        <a href="">Preguntas frecuentes</a>
        <a href="">Ayuda</a>
    </footer>
</body>

</html>